{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Mapa Leaflet</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    
    
</head>
<body>
    <div id="container">
        <div id="map"></div>
        <div id="buttonContainer">
            <button id="btnAddEscola">Adicionar Escola</button>
            <!-- Adicione abaixo do botão "Adicionar Escola" -->
            <button id="btnPesquisarEscola">Pesquisar Escola</button>

        </div>
    </div>
    <script src="{% static 'js/mapabase.js' %}"></script>
    <script src="{% static 'js/identificarFeicao.js' %}"></script>
    <script src="{% static 'js/adicionarEscola.js' %}"></script>
    <script src="{% static 'js/pesquisarEscola.js' %}"></script>
</body>
</html>
